extends layout

block content
  h1.
    Login
  if loggedIn
      div.welcomebox
        // Filtered inline output
        p.
          Welcome, #{loggedIn}
        a(href='/scorecard/new') Create new scorecard
    else
      div.loginbox
        form(name="login", action="/login", method="post")
          input(type="text", placeholder="Username", name="name")
          input(type="password", placeholder="Password", name="pass")
          input(type="submit", value="login")